NET "SEL[0]"  LOC = "P120" | PULLDOWN;
NET "SEL[1]"  LOC = "P121" | PULLDOWN;
NET "SEL[2]"  LOC = "P118" | PULLDOWN;
NET "SEL[3]"  LOC = "P119" | PULLDOWN;
NET "SEL[4]"  LOC = "P116" | PULLDOWN;
NET "SEL[5]"  LOC = "P117" | PULLDOWN;
NET "SEL[6]"  LOC = "P114" | PULLDOWN;
NET "SEL[7]"  LOC = "P115" | PULLDOWN;
NET "SEL[8]"  LOC = "P112" | PULLDOWN;
NET "SEL[9]"  LOC = "P111" | PULLDOWN;
NET "SEL[10]" LOC = "P105" | PULLDOWN;
NET "SEL[11]" LOC = "P104" | PULLDOWN;
NET "SEL[12]" LOC = "P102" | PULLDOWN;
NET "SEL[13]" LOC = "P101" | PULLDOWN;
NET "SEL[14]" LOC = "P100" | PULLDOWN;
NET "SEL[15]" LOC = "P99" | PULLDOWN;
NET "SEL[16]" LOC = "P79" | PULLDOWN;
NET "SEL[17]" LOC = "P78" | PULLDOWN;
NET "SEL[18]" LOC = "P75" | PULLDOWN;
NET "SEL[19]" LOC = "P74" | PULLDOWN;
NET "SEL[20]" LOC = "P67" | PULLDOWN;
NET "SEL[21]" LOC = "P66" | PULLDOWN;
NET "SEL[22]" LOC = "P58" | PULLDOWN;
NET "SEL[23]" LOC = "P57" | PULLDOWN;

NET "LED[0]"  LOC = "P97" | PULLDOWN;
NET "LED[1]"  LOC = "P98" | PULLDOWN;
NET "LED[2]"  LOC = "P94" | PULLDOWN;
NET "LED[3]"  LOC = "P95" | PULLDOWN;
NET "LED[4]"  LOC = "P92" | PULLDOWN;
NET "LED[5]"  LOC = "P93" | PULLDOWN;
NET "LED[6]"  LOC = "P87" | PULLDOWN;
NET "LED[7]"  LOC = "P88" | PULLDOWN;
NET "LED[8]"  LOC = "P84" | PULLDOWN;
NET "LED[9]"  LOC = "P85" | PULLDOWN;
NET "LED[10]" LOC = "P82" | PULLDOWN;
NET "LED[11]" LOC = "P83" | PULLDOWN;
NET "LED[12]" LOC = "P80" | PULLDOWN;
NET "LED[13]" LOC = "P81" | PULLDOWN;
NET "LED[14]" LOC = "P11" | PULLDOWN;
NET "LED[15]" LOC = "P14" | PULLDOWN;
NET "LED[16]" LOC = "P15" | PULLDOWN;
NET "LED[17]" LOC = "P16" | PULLDOWN;
NET "LED[18]" LOC = "P17" | PULLDOWN;
NET "LED[19]" LOC = "P21" | PULLDOWN;
NET "LED[20]" LOC = "P22" | PULLDOWN;
NET "LED[21]" LOC = "P23" | PULLDOWN;
NET "LED[22]" LOC = "P24" | PULLDOWN;
NET "LED[23]" LOC = "P26" | PULLDOWN;

NET "CLK" LOC = "P56";
NET "start" LOC = "P140" | PULLDOWN;